a.button, a.button:visited, a.button:link {
  color: #fff;
}

// Custom Branded Buttons
.button-law-red-flat {
  background-color: #a31a48;
  border-color: #a31a48;
  color: #fff;
}
.button-law-red-flat:hover,
.button-law-red-flat:focus,
.button-law-red-flat:active,
.button-law-red-flat.active {
  color: #fff;
  background-color: #8d163e; 
  border-color: #771335;
}
.button-law-red-flat.disabled:hover,
.button-law-red-flat.disabled:focus,
.button-law-red-flat.disabled:active,
.button-law-red-flat.disabled.active,
.button-law-red-flat[disabled]:hover,
.button-law-red-flat[disabled]:focus,
.button-law-red-flat[disabled]:active,
.button-law-red-flat[disabled].active,
fieldset[disabled] .button-law-red-flat:hover,
fieldset[disabled] .button-law-red-flat:focus,
fieldset[disabled] .button-law-red-flat:active,
fieldset[disabled] .button-law-red-flat.active {
  background-color: #a31a48;
  border-color: #a31a48;
  color: #fff;
}

.button-law-red-grad {
  background-color: #a31a48;
  border-color: #a31a48;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #911740;
  background-image: -moz-linear-gradient(top,#a31a48,#771335);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#a31a48),to(#771335));
  background-image: -webkit-linear-gradient(top,#a31a48,#771335);
  background-image: -o-linear-gradient(top,#a31a48,#771335);
  background-image: linear-gradient(to bottom,#a31a48,#771335);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa31a48', endColorstr='#ff771234', GradientType=0);
  border-color: #771335 #771335 #350817;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  color: #fff;
}
.button-law-red-grad:hover,
.button-law-red-grad:focus {
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position .1s linear;
  -moz-transition: background-position .1s linear;
  -o-transition: background-position .1s linear;
  transition: background-position .1s linear;
}
.button-law-red-grad:hover,
.button-law-red-grad:focus {
  background-color: #771335;
  color: #fff;
}
.button-law-red-grad:active,
.button-law-red-grad.active,
.button-law-red-grad.active:hover {
  background-color: #8d163e;
  border-color: #771335;
  color: #fff;
}
.button-law-red-grad.disabled:hover,
.button-law-red-grad.disabled:focus,
.button-law-red-grad.disabled:active,
.button-law-red-grad.disabled.active,
.button-law-red-grad[disabled] .button-law-red-grad:hover,
.button-law-red-grad[disabled] .button-law-red-grad:focus,
.button-law-red-grad[disabled] .button-law-red-grad:active,
.button-law-red-grad[disabled] .button-law-red-grad.active {
  background-color: #a31a48;
  border-color: #a31a48;
  color: #fff;
}


.button-gen-green-flat {
  background-color: #93a31c;
  border-color: #93a31c;
  color: #fff;
}
.button-gen-green-flat:hover,
.button-gen-green-flat:focus,
.button-gen-green-flat:active,
.button-gen-green-flat.active {
  background-color: #7f8d18;
  border-color: #6c7715;
  color: #fff;
}
.button-gen-green-flat.disabled:hover,
.button-gen-green-flat.disabled:focus,
.button-gen-green-flat.disabled:active,
.button-gen-green-flat.disabled.active,
.button-gen-green-flat[disabled]:hover,
.button-gen-green-flat[disabled]:focus,
.button-gen-green-flat[disabled]:active,
.button-gen-green-flat[disabled].active,
fieldset[disabled] .button-gen-green-flat:hover,
fieldset[disabled] .button-gen-green-flat:focus,
fieldset[disabled] .button-gen-green-flat:active,
fieldset[disabled] .button-gen-green-flat.active {
  background-color: #93a31c;
  border-color: #93a31c;
  color: #fff;
}

.button-gen-green-grad {
  background-color: #93a31c;
  border-color: #93a31c;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #839219;
  background-image: -moz-linear-gradient(top,#93a31c,#6c7715);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#93a31c),to(#6c7715));
  background-image: -webkit-linear-gradient(top,#93a31c,#6c7715);
  background-image: -o-linear-gradient(top,#93a31c,#6c7715);
  background-image: linear-gradient(to bottom,#93a31c,#6c7715);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff93a31c', endColorstr='#ff6b7714', GradientType=0);
  border-color: #6c7715 #6c7715 #313609;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  color: #fff;
}
.button-gen-green-grad:hover,
.button-gen-green-grad:focus {
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position .1s linear;
  -moz-transition: background-position .1s linear;
  -o-transition: background-position .1s linear;
  transition: background-position .1s linear;
  color: #fff;
}
.button-gen-green-grad:hover,
.button-gen-green-grad:focus {
  background-color: #6c7715;
  color: #fff;
}
.button-gen-green-grad:active,
.button-gen-green-grad.active,
.button-gen-green-grad.active:hover {
  background-color: #7f8d18;
  border-color: #6c7715;
  color: #fff;
}
.button-gen-green-grad.disabled:hover,
.button-gen-green-grad.disabled:focus,
.button-gen-green-grad.disabled:active,
.button-gen-green-grad.disabled.active,
.button-gen-green-grad[disabled] .button-gen-green-grad:hover,
.button-gen-green-grad[disabled] .button-gen-green-grad:focus,
.button-gen-green-grad[disabled] .button-gen-green-grad:active,
.button-gen-green-grad[disabled] .button-gen-green-grad.active {
  background-color: #93a31c;
  border-color: #93a31c;
  color: #fff;
}


.button-wsj-red-flat {
  background-color: #b00034;
  border-color: #b00034;
  color: #fff;
}
.button-wsj-red-flat:hover,
.button-wsj-red-flat:focus,
.button-wsj-red-flat:active,
.button-wsj-red-flat.active {
  background-color: #97002c;
  border-color: #7d0025;
  color: #fff;
}
.button-wsj-red-flat.disabled:hover,
.button-wsj-red-flat.disabled:focus,
.button-wsj-red-flat.disabled:active,
.button-wsj-red-flat.disabled.active,
.button-wsj-red-flat[disabled]:hover,
.button-wsj-red-flat[disabled]:focus,
.button-wsj-red-flat[disabled]:active,
.button-wsj-red-flat[disabled].active,
fieldset[disabled] .button-wsj-red-flat:hover,
fieldset[disabled] .button-wsj-red-flat:focus,
fieldset[disabled] .button-wsj-red-flat:active,
fieldset[disabled] .button-wsj-red-flat.active {
  background-color: #b00034;
  border-color: #b00034;
  color: #fff;
}

.button-wsj-red-grad {
  background-color: #b00034;
  border-color: #b00034;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #9c002e;
  background-image: -moz-linear-gradient(top,#b00034,#7d0025);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#b00034),to(#7d0025));
  background-image: -webkit-linear-gradient(top,#b00034,#7d0025);
  background-image: -o-linear-gradient(top,#b00034,#7d0025);
  background-image: linear-gradient(to bottom,#b00034,#7d0025);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb00034', endColorstr='#ff7d0024', GradientType=0);
  border-color: #7d0025 #7d0025 #31000e;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  color: #fff;
}
.button-wsj-red-grad:hover,
.button-wsj-red-grad:focus {
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position .1s linear;
  -moz-transition: background-position .1s linear;
  -o-transition: background-position .1s linear;
  transition: background-position .1s linear;
  color: #fff;
}
.button-wsj-red-grad:hover,
.button-wsj-red-grad:focus {
  background-color: #7d0025;
  color: #fff;
}
.button-wsj-red-grad:active,
.button-wsj-red-grad.active,
.button-wsj-red-grad.active:hover {
  background-color: #97002c;
  border-color: #7d0025;
  color: #fff;
}

.button-wsj-red-grad.disabled:hover,
.button-wsj-red-grad.disabled:focus,
.button-wsj-red-grad.disabled:active,
.button-wsj-red-grad.disabled.active,
.button-wsj-red-grad[disabled] .button-wsj-red-grad:hover,
.button-wsj-red-grad[disabled] .button-wsj-red-grad:focus,
.button-wsj-red-grad[disabled] .button-wsj-red-grad:active,
.button-wsj-red-grad[disabled] .button-wsj-red-grad.active {
  background-color: #b00034;
  border-color: #b00034;
  color: #fff;
}


.button-zag-red-flat {
  background-color: #a81849;
  border-color: #a81849;
  color: #fff;
}
.button-zag-red-flat:hover,
.button-zag-red-flat:focus,
.button-zag-red-flat:active,
.button-zag-red-flat.active {
  background-color: #92153f;
  border-color: #7b1236;
  color: #fff;
}
.button-zag-red-flat.disabled:hover,
.button-zag-red-flat.disabled:focus,
.button-zag-red-flat.disabled:active,
.button-zag-red-flat.disabled.active,
.button-zag-red-flat[disabled]:hover,
.button-zag-red-flat[disabled]:focus,
.button-zag-red-flat[disabled]:active,
.button-zag-red-flat[disabled].active,
fieldset[disabled] .button-zag-red-flat:hover,
fieldset[disabled] .button-zag-red-flat:focus,
fieldset[disabled] .button-zag-red-flat:active,
fieldset[disabled] .button-zag-red-flat.active {
  background-color: #a81849;
  border-color: #a81849;
  color: #fff;
}

.button-zag-red-grad {
  background-color: #a81849;
  border-color: #a81849;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #961541;
  background-image: -moz-linear-gradient(top,#a81849,#7b1236);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#a81849),to(#7b1236));
  background-image: -webkit-linear-gradient(top,#a81849,#7b1236);
  background-image: -o-linear-gradient(top,#a81849,#7b1236);
  background-image: linear-gradient(to bottom,#a81849,#7b1236);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa81849', endColorstr='#ff7b1135', GradientType=0);
  border-color: #7b1236 #7b1236 #380819;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  color: #fff;
}
.button-zag-red-grad:hover,
.button-zag-red-grad:focus {
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position .1s linear;
  -moz-transition: background-position .1s linear;
  -o-transition: background-position .1s linear;
  transition: background-position .1s linear;
  color: #fff;
}
.button-zag-red-grad:hover,
.button-zag-red-grad:focus {
  background-color: #7b1236;
  color: #fff;
}
.button-zag-red-grad:active,
.button-zag-red-grad.active,
.button-zag-red-grad.active:hover {
  background-color: #92153f;
  border-color: #7b1236;
  color: #fff;
}
.button-zag-red-grad.disabled:hover,
.button-zag-red-grad.disabled:focus,
.button-zag-red-grad.disabled:active,
.button-zag-red-grad.disabled.active,
.button-zag-red-grad[disabled] .button-zag-red-grad:hover,
.button-zag-red-grad[disabled] .button-zag-red-grad:focus,
.button-zag-red-grad[disabled] .button-zag-red-grad:active,
.button-zag-red-grad[disabled] .button-zag-red-grad.active {
  background-color: #a81849;
  border-color: #a81849;
  color: #fff;
}

.button-gen-blue-flat {
  background-color: #215680;
  border-color: #215680;
  color: #fff;
}
.button-gen-blue-flat:hover,
.button-gen-blue-flat:focus,
.button-gen-blue-flat:active,
.button-gen-blue-flat.active {
  background-color: #1c486c;
  border-color: #173b57;
  color: #fff;
}
.button-gen-blue-flat.disabled:hover,
.button-gen-blue-flat.disabled:focus,
.button-gen-blue-flat.disabled:active,
.button-gen-blue-flat.disabled.active,
.button-gen-blue-flat[disabled]:hover,
.button-gen-blue-flat[disabled]:focus,
.button-gen-blue-flat[disabled]:active,
.button-gen-blue-flat[disabled].active,
fieldset[disabled] .button-gen-blue-flat:hover,
fieldset[disabled] .button-gen-blue-flat:focus,
fieldset[disabled] .button-gen-blue-flat:active,
fieldset[disabled] .button-gen-blue-flat.active {
  background-color: #215680;
  border-color: #215680;
  color: #fff;
}

.button-gen-blue-grad {
  background-color: #215680;
  border-color: #215680;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #1d4b70;
  background-image: -moz-linear-gradient(top,#215680,#173b57);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#215680),to(#173b57));
  background-image: -webkit-linear-gradient(top,#215680,#173b57);
  background-image: -o-linear-gradient(top,#215680,#173b57);
  background-image: linear-gradient(to bottom,#215680,#173b57);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff215680', endColorstr='#ff163a57', GradientType=0);
  border-color: #173b57 #173b57 #07121b;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  color: #fff;
}
.button-gen-blue-grad:hover,
.button-gen-blue-grad:focus {
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position .1s linear;
  -moz-transition: background-position .1s linear;
  -o-transition: background-position .1s linear;
  transition: background-position .1s linear;
  color: #fff;
}
.button-gen-blue-grad:hover,
.button-gen-blue-grad:focus {
  background-color: #173b57;
  color: #fff;
}
.button-gen-blue-grad:active,
.button-gen-blue-grad.active,
.button-gen-blue-grad.active:hover {
  background-color: #1c486c;
  border-color: #173b57;
  color: #fff;
}
.button-gen-blue-grad.disabled:hover,
.button-gen-blue-grad.disabled:focus,
.button-gen-blue-grad.disabled:active,
.button-gen-blue-grad.disabled.active,
.button-gen-blue-grad[disabled] .button-gen-blue-grad:hover,
.button-gen-blue-grad[disabled] .button-gen-blue-grad:focus,
.button-gen-blue-grad[disabled] .button-gen-blue-grad:active,
.button-gen-blue-grad[disabled] .button-gen-blue-grad.active {
  background-color: #215680;
  border-color: #215680;
  color: #fff;
}

.button-vir-red-flat {
  background-color: #c60000;
  border-color: #c60000;
  color: #fff;
}
.button-vir-red-flat:hover,
.button-vir-red-flat:focus,
.button-vir-red-flat:active,
.button-vir-red-flat.active {
  background-color: #ad0000;
  border-color: #930000;
  color: #fff;
}
.button-vir-red-flat.disabled:hover,
.button-vir-red-flat.disabled:focus,
.button-vir-red-flat.disabled:active,
.button-vir-red-flat.disabled.active,
.button-vir-red-flat[disabled]:hover,
.button-vir-red-flat[disabled]:focus,
.button-vir-red-flat[disabled]:active,
.button-vir-red-flat[disabled].active,
fieldset[disabled] .button-vir-red-flat:hover,
fieldset[disabled] .button-vir-red-flat:focus,
fieldset[disabled] .button-vir-red-flat:active,
fieldset[disabled] .button-vir-red-flat.active {
  background-color: #c60000;
  border-color: #c60000;
  color: #fff;
}

.button-vir-red-grad {
  background-color: #c60000;
  border-color: #c60000;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #b20000;
  background-image: -moz-linear-gradient(top,#c60000,#930000);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#c60000),to(#930000));
  background-image: -webkit-linear-gradient(top,#c60000,#930000);
  background-image: -o-linear-gradient(top,#c60000,#930000);
  background-image: linear-gradient(to bottom,#c60000,#930000);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc60000', endColorstr='#ff930000', GradientType=0);
  border-color: #930000 #930000 #470000;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  color: #fff;
}
.button-vir-red-grad:hover,
.button-vir-red-grad:focus {
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position .1s linear;
  -moz-transition: background-position .1s linear;
  -o-transition: background-position .1s linear;
  transition: background-position .1s linear;
  color: #fff;
}
.button-vir-red-grad:hover,
.button-vir-red-grad:focus {
  background-color: #930000;
  color: #fff;
}
.button-vir-red-grad:active,
.button-vir-red-grad.active,
.button-vir-red-grad.active:hover {
  background-color: #ad0000;
  border-color: #930000;
  color: #fff;
}
.button-vir-red-grad.disabled:hover,
.button-vir-red-grad.disabled:focus,
.button-vir-red-grad.disabled:active,
.button-vir-red-grad.disabled.active,
.button-vir-red-grad[disabled] .button-vir-red-grad:hover,
.button-vir-red-grad[disabled] .button-vir-red-grad:focus,
.button-vir-red-grad[disabled] .button-vir-red-grad:active,
.button-vir-red-grad[disabled] .button-vir-red-grad.active {
  background-color: #c60000;
  border-color: #c60000;
  color: #fff;
}


.button-gen-orange-grad {
  background-color: #ff9900;
  border-color: #ff9900;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #eb8d00;
  background-image: -moz-linear-gradient(top,#ff9900,#cc7a00);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#ff9900),to(#cc7a00));
  background-image: -webkit-linear-gradient(top,#ff9900,#cc7a00);
  background-image: -o-linear-gradient(top,#ff9900,#cc7a00);
  background-image: linear-gradient(to bottom,#ff9900,#cc7a00);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff9900', endColorstr='#ffcc7a00', GradientType=0);
  border-color: #cc7a00 #cc7a00 #804d00;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  color: #fff;
}
.button-gen-orange-grad:hover,
.button-gen-orange-grad:focus {
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position .1s linear;
  -moz-transition: background-position .1s linear;
  -o-transition: background-position .1s linear;
  transition: background-position .1s linear;
  color: #fff;
}
.button-gen-orange-grad:hover,
.button-gen-orange-grad:focus {
  background-color: #cc7a00;
  color: #fff;
}
.button-gen-orange-grad:active,
.button-gen-orange-grad.active,
.button-gen-orange-grad.active:hover {
  background-color: #e68a00;
  border-color: #cc7a00;
  color: #fff;
}
.button-gen-orange-grad.disabled:hover,
.button-gen-orange-grad.disabled:focus,
.button-gen-orange-grad.disabled:active,
.button-gen-orange-grad.disabled.active,
.button-gen-orange-grad[disabled] .button-gen-orange-grad:hover,
.button-gen-orange-grad[disabled] .button-gen-orange-grad:focus,
.button-gen-orange-grad[disabled] .button-gen-orange-grad:active,
.button-gen-orange-grad[disabled] .button-gen-orange-grad.active {
  background-color: #ff9900;
  border-color: #ff9900;
  color: #fff;
}

.button-gen-orange-flat {
  background-color: #ff9900;
  border-color: #ff9900;
  color: #fff;
}
.button-gen-orange-flat:hover,
.button-gen-orange-flat:focus,
.button-gen-orange-flat:active,
.button-gen-orange-flat.active {
  background-color: #e68a00;
  border-color: #cc7a00;
  color: #fff;
}
.button-gen-orange-flat.disabled:hover,
.button-gen-orange-flat.disabled:focus,
.button-gen-orange-flat.disabled:active,
.button-gen-orange-flat.disabled.active,
.button-gen-orange-flat[disabled]:hover,
.button-gen-orange-flat[disabled]:focus,
.button-gen-orange-flat[disabled]:active,
.button-gen-orange-flat[disabled].active,
fieldset[disabled] .button-gen-orange-flat:hover,
fieldset[disabled] .button-gen-orange-flat:focus,
fieldset[disabled] .button-gen-orange-flat:active,
fieldset[disabled] .button-gen-orange-flat.active {
  background-color: #ff9900;
  border-color: #ff9900;
  color: #fff;
}




// Button Sizes

.button-mini {
    font-size: 12px;
}

.button-small {
    min-width: 90px;
    font-size: 12px;
}

.button-medium {
    min-width: 125px;
    font-size: 14px;
}

.button-large {
    min-width: 175px;
    font-size: 16px;
}

.button-xlarge {
    min-width: 280px;
    font-size: 18px;
}
