<div class="header" ng-controller="MainCtrl">
  <ul class="nav nav-pills pull-right">
    <li><a ng-href="#/">Generator</a></li>
    <li><a ng-href="#/library">Library</a></li>
  </ul>
  <h3 class="text-muted">Button Generator</h3>
</div>

<div class="row">
    <div id="button-container">
                <h2>Button Sizes</h2>
                <div>
                    <a href="" class="button button-mini button-law-red-flat">Button</a>
                    <p class="class-name">.button .button-mini .button-law-red-flat</p>
                </div>
                <div>
                    <a href="" class="button button-small button-law-red-flat">Button</a>
                    <p class="class-name">.button .button-small .button-law-red-flat</p>
                </div>
                <div>
                    <a href="" class="button button-medium button-law-red-flat">Button</a>
                    <p class="class-name">.button .button-medium .button-law-red-flat</p>
                </div>
                <div>
                    <a href="" class="button button-large button-law-red-flat">Button</a>
                    <p class="class-name">.button .button-large .button-law-red-flat</p>
                </div>
                <div>
                    <a href="" class="button button-xlarge button-law-red-flat">Button</a>
                    <p class="class-name">.button .button-xlarge .button-law-red-flat</p>
                </div>
            </div>
            <div id="button-container">
                <h2>Flat Design</h2>
                <h4 class="sub-title">LAW</h4>
                <div>
                    <a href="" class="button button-medium button-law-red-flat">Button</a>
                    <p class="class-name">.button .button-medium .button-law-red-flat</p>
                </div>
                <h4 class="sub-title">WSJ</h4>
                <div>
                    <a href="" class="button button-medium button-wsj-red-flat">Button</a>
                    <p class="class-name">.button .button-medium .button-wsj-red-flat</p>
                </div>
                <h4 class="sub-title">ZAG</h4>
                <div>
                    <a href="" class="button button-medium button-zag-red-flat">Button</a>
                    <p class="class-name">.button .button-medium .button-zag-red-flat</p>
                </div>
                <h4 class="sub-title">VIR</h4>    
                <div>
                    <a href="" class="button button-medium button-vir-red-flat">Button</a>
                    <p class="class-name">.button .button-medium .button-vir-red-flat</p>
                </div>    
                <h4 class="sub-title">Generic</h4>
                <div>
                    <a href="" class="button button-medium button-gen-green-flat">Button</a>
                    <p class="class-name">.button .button-medium .button-gen-green-flat</p>
                </div> 
                <div>
                    <a href="" class="button button-medium button-gen-blue-flat">Button</a>
                    <p class="class-name">.button .button-medium .button-gen-blue-flat</p>
                </div> 
            </div>
            <div id="button-container">
                <h2>Gradient Design</h2>
                <h4 class="sub-title">WSJ</h4>
                <div>
                    <a href="" class="button button-medium button-law-red-grad">Button</a>
                    <p class="class-name">.button .button-medium .button-law-red-grad</p>
                </div>
                <h4 class="sub-title">WSJ</h4>
                <div>
                    <a href="" class="button button-medium button-wsj-red-grad">Button</a>
                    <p class="class-name">.button .button-medium .button-wsj-red-grad</p>
                </div>
                <h4 class="sub-title">ZAG</h4>
                <div>
                    <a href="" class="button button-medium button-zag-red-grad">Button</a>
                    <p class="class-name">.button .button-medium .button-zag-red-grad</p>
                </div>
                <h4 class="sub-title">VIR</h4>
                <div>
                    <a href="" class="button button-medium button-vir-red-grad">Button</a>
                    <p class="class-name">.button .button-medium .button-vir-red-grad</p>
                </div>
                <h4 class="sub-title">Generic</h4>
                <div>
                    <a href="" class="button button-medium button-gen-green-grad">Button</a>
                    <p class="class-name">.button .button-medium .button-gen-green-grad</p>
                </div>
                <div>
                    <a href="" class="button button-medium button-gen-blue-grad">Button</a>
                    <p class="class-name">.button .button-medium .button-gen-green-grad</p>
                </div>
            </div>
</div>